{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MAUL</title>
    <link rel="stylesheet" href="{% static 'theme/assets/plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'theme/assets/plugins/font-awesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'theme/assets/css/connect.min.css' %}">
    <link rel="stylesheet" href="{% static 'theme/assets/css/dark_theme.css' %}">
    <link rel="stylesheet" href="{% static 'theme/assets/css/custom.css' %}">

    </head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container" >
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="/home">Home</a></li>
                <li role="presentation"><a href="/about">About</a></li>
                {% if user.is_authenticated %}
                    <li role="presentation"><a href="#">Maul Team Area</a></li>
                    <li role="presentation"><a href="/account">{{user.username}}</a></li>
                    <li role="presentation"><a href="/logout">logout</a></li>
                <!-- Put reredundant stuff here like registration, login -->
                {% else %}
                    <li role="presentation"><a href="/register">register</a></li>
                    <li role="presentation"><a href="/login">login</a></li>

                {% endif %}
            </ul>
            <a class="navbar-brand" href="#">MAUL</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>
<div class="container" style="margin-top: 90px">

    {% if messages %}
        {% for message in messages %}
            <script>console.log("pass in alert for messages {{message}}")</script>
        {% endfor %}
        {% endif %}
    {% block content %}
    {% endblock %}
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/jquery.3.4.1.js' %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>


</html>